* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
  background-color: #f7f7f7;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: #44a047;
  color: #fff;
  padding: 1rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.event-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  margin: 2rem 0;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-left {
  flex: 1 1 60%;
}


.event-info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.event-info p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.details-right {
  flex: 1 1 35%;
}

.event-price h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.event-price p {
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #44a047;
  font-weight: bold;
}

.event-links h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.event-links ul {
  list-style: none;
  padding-left: 0;
}

.event-links li {
  margin-bottom: 0.5rem;
}

.event-links a {
  font-size: 1.2rem;
  color: #44a047;
  text-decoration: none;
}

.event-links i {
  margin-right: 0.5rem;
}

.back-button {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #44a047;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 2rem;
}
