body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

header {
  background-color: #44a047;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 140px);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  background-color: white;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

input[type="email"] {
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

button[type="submit"] {
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #44a047;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #44a047;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
  
.back-button:hover {
  background-color: #555;
}